/* ----------------
Responsive
 -------------------*/

 @media (min-width: 1200px) {
	.container {
		max-width: 1176px;
		padding: 120px 0 86px;

	}
}

@media only screen and (min-width: 1200px) and (max-width: 1360px) {
	.header-right {
		margin-left: 50px;
	}
	.main-menu li a {
		margin-left: 25px;
	}
	.main-menu .sub-menu {
		left: 25px;
	}
}

/* Medium screen : 992px. */
@media (min-width: 992px){
    .mynav {
        padding: 0;
    }
    .navbar-nav a:hover {
        background: #c3dd30;
        text-decoration: none;
    }
    
    .nav-item .active {
        background: #c3dd30;
        text-decoration: none;
	}
	
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.header-section {
		padding-left: 15px;
		padding-right: 20px;
	}
	.header-right {
		margin-left: 20px;
	}
	.main-menu li a {
		margin-left: 15px;
	}
	.main-menu .sub-menu {
		left: 15px;
	}
	.hr-img img {
		min-width: 500px;
		position: relative;
	}
	.sub-list {
		padding: 70px 15px 50px 90px;
	}
	.category-section .section-title,
	.playlist-section .section-title {
		float: none;
	}
	.category-links,
	.playlist-filter {
		text-align: left;
	}
	.playlist-item {
		padding: 0;
	}
	/* .player-box {
		padding: 70px 80px 80px;
	} */
	/* .similar-song {
		margin-bottom: 70px;
	}
	.artist-details img {
		float: none;
		margin-bottom: 30px;
	} */
	.contact-warp {
		padding: 100px 15px 60px 40px;
	}
	.category-item {
		margin: 0;
	}
	.category-section {
		padding: 100px 0;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1340px) {
    .custom-prize {
        padding-top: 180px;
        margin-bottom: 10px;
    }
    
    .fix {
        padding-top: 60px !important;
    }
    
    .all-prizes {
        padding-top: 160px;
        margin-bottom: 10px;
	}
	
	.mt-custom {
		padding-top: 88px;
	}

	
	.button-margin {
		margin-bottom: 10px !important;
	}

	.custom-page {
		margin-top: 84px !important;
	}
}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.hr-img {
		display: none;
	}
	.slicknav_menu {
		display: block;
		background: transparent;
		margin-top: -60px;
	}
	.slicknav_nav {
		background: #1c294a;
		margin-bottom: 35px;
	}
	.slicknav_nav ul {
		margin: 0 0 0 0;
	}
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 12px 25px;
		margin: 0;
	}
	.slicknav_nav a:hover {
		border-radius: 0;
		color: #fc0254;
		background: transparent;
	}
	.slicknav_btn {
		position: relative;
		top: -24px;
		background: #1c294a;
	}
	.main-menu {
		display: none;
	}
	.header-right {
		display: none;
	}
	.header-right-warp .header-right {
		display: block;
		float: none;
		padding: 0 0 24px;
		margin-left: 0;
	}
	.header-right-warp .header-right span {
		display: none;
	}
	.header-right-warp .header-right .user-panel {
		display: block;
		padding-left: 26px;
	}
	.header-right-warp .header-right .user-panel a {
		display: inline-block;
		padding: 0;
		margin: 0;
	}
	.header-right-warp .header-right .user-panel a:hover {
		background: transparent;
	}
	.header-right-warp .header-right .user-panel .login {
		padding-right: 10px;
	}
	.sub-text {
		margin-bottom: 50px;
	}
	.footer-widget {
		margin-bottom: 40px;
	}
	.category-section .section-title,
	.playlist-section .section-title {
		float: none;
	}
	.category-links,
	.playlist-filter {
		text-align: left;
	}
	
	.wave-player-warp {
		width: 100%;
	}
	.wave-player-warp .songs-links {
		text-align: center;
		padding-top: 0;
		margin-bottom: 40px;
	}
	.tarck-thumb-warp {
		width: 100%;
	}
	.tarck-thumb-warp .tarck-thumb {
		margin: 0 auto;
	}
	.wave-player-info,
	.wavePlayer_controls {
		text-align: center;
	}
	.similar-song {
		margin-bottom: 60px;
	}
	.playlist-section,
	.category-section {
		padding: 100px 0;
	}
	.playlist-section .container,
	.category-section .container {
		max-width: 100%;
	}
	.category-item {
		margin: 0;
	}
	.category-item .ci-link {
		top: 26px;
		bottom: auto;
	}
	.category-item .ci-text {
		position: absolute;
		bottom: 10px;
		left: 20px;
	}
	.map {
		height: 450px;
	}
	.song-details-box ul {
		max-width: 100%;
	}
	.search-form {
		margin-top: 40px;
	}

	.custom-prize {
		padding-top: 81px;
    	padding-bottom: 15px;
	}

	.button-margin {
		margin-bottom: 10px !important;
	}
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
	.hr-img {
		display: none;
	}
	.slicknav_menu {
		display: block;
		background: transparent;
		margin-top: -60px;
	}
	.slicknav_nav {
		background: #1c294a;
		margin-bottom: 35px;
	}
	.slicknav_nav ul {
		margin: 0 0 0 0;
	}
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 12px 25px;
		margin: 0;
	}
	.slicknav_nav a:hover {
		border-radius: 0;
		color: #fc0254;
		background: transparent;
	}
	.slicknav_btn {
		position: relative;
		top: -24px;
		background: #1c294a;
	}
	.main-menu {
		display: none;
	}
	.header-right {
		display: none;
	}
	.header-right-warp .header-right {
		display: block;
		float: none;
		padding: 0 0 24px;
		margin-left: 0;
	}
	.header-right-warp .header-right span {
		display: none;
	}
	.header-right-warp .header-right .user-panel {
		display: block;
		padding-left: 26px;
	}
	.header-right-warp .header-right .user-panel a {
		display: inline-block;
		padding: 0;
		margin: 0;
	}
	.header-right-warp .header-right .user-panel a:hover {
		background: transparent;
	}
	.header-right-warp .header-right .user-panel .login {
		padding-right: 10px;
	}
	.sub-list {
		padding: 60px 15px 50px 30px;
	}
	.sub-text {
		margin-bottom: 50px;
	}
	.footer-widget {
		margin-bottom: 40px;
	}
	.category-section .section-title,
	.playlist-section .section-title {
		float: none;
	}
	.category-links,
	.playlist-filter {
		text-align: left;
	}
	.playlist-filter li,
	.category-links a {
		margin-right: 15px;
	}
	.playlist-item {
		padding: 0;
	}
	.playlist-section {
		padding: 100px 0;
	}
	.artist-details img {
		float: none;
		margin-bottom: 30px;
	}
	.player-box {
		display: block;
	}
	.wave-player-warp {
		width: 100%;
	}
	.wave-player-warp .songs-links {
		text-align: center;
		padding-top: 0;
		margin-bottom: 40px;
	}
	.tarck-thumb-warp {
		width: 100%;
	}
	.tarck-thumb-warp .tarck-thumb {
		margin: 0 auto;
	}
	.wave-player-info,
	.wavePlayer_controls {
		text-align: center;
	}
	.player-box {
		padding: 75px 40px 80px;
	}
	.similar-song {
		margin-bottom: 60px;
	}
	.songs-details-section {
		padding: 100px 0px 50px;
	}
	.similar-songs-section,
	.playlist-section {
		padding: 100px 0;
	}
	.similar-songs-section .container,
	.playlist-section .container {
		max-width: 100%;
	}
	.category-section {
		padding: 105px 0;
	}
	.category-section .container {
		max-width: 100%;
	}
	.header-section {
		padding: 0 15px;
	}
	.category-item {
		margin: 0 0 30px;
	}
	.map {
		height: 450px;
	}
	.contact-warp {
		padding: 100px 40px;
	}
	.songs-links {
		text-align: left;
		padding-top: 40px;
	}
	.song-details-box ul {
		max-width: 100%;
	}
	.search-form {
		margin-top: 40px;
	}

	.button-margin {
		margin-bottom: 10px !important;
	}
	
}

/* Small Mobile :320px. */

@media only screen and (max-width: 479px) {
	.section-title h2,
	.hs-item h2,
	.sub-text h2 {
		font-size: 36px;
	}
	.wave-player-info h2 {
		font-size: 24px;
	}
	.header-section {
		padding: 0;
	}
	.player-box {
		padding: 40px;
	}
	.contact-warp {
		padding: 100px 15px;
	}
	.category-item .ci-link {
		top: 26px;
		bottom: auto;
	}
	.category-item .ci-text {
		position: absolute;
		bottom: 10px;
		left: 20px;
	}
	.single_player_container .jp-interface {
		display: block;
	}
	.song-details-box .player_controls_box,
	.player_controls_box {
		width: 100%;
	}
	.song-details-box .player_bars,
	.player_bars {
		width: 100%;
	}
	.song-details-box .jp-duration {
		bottom: -19px;
	}
	.jp-duration {
		bottom: -31px;
	}
	.song-details-box .song-item {
		margin-bottom: 40px;
	}
	.player-section,
	.player-box {
		padding: 15px;
	}
	.social-links a {
		margin-right: 20px;
	}
	.search-form {
		text-align: center;
	}
	.search-form input {
		padding-right: 41px;
	}
	.search-form button {
		position: relative;
		margin-top: 20px;
	}

	.custom-prize {
		padding-top: 56px !important;
		padding-bottom: 10px !important;
	}
}





